<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <h1> We made <%=total_revenue%> this week. </h1>
    <p></p>
    <table>
      <thead>
        <tr>
          <th>Destination</th>
          <th>Shipment</th>
          <th>Crates</th>
          <th>Money</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr>
          <td><%=logs["Destination"]%></td>
          <td><%=logs["Shipment"]%></td>
          <td><%=logs["Crates"]%></td>
          <td><%=logs["Money"]%></td>
        </tr>
      </tbody> -->
    </table>

    <p></p>

    <table>
      <thead>
        <tr>
          <th>Employee</th>
          <th>Number of Trips</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr>
          <td>Fry</td>
          <td><%=fry_trips.count%></td>
          <td><%=fry_bonus%></td>
        </tr>
        <tr>
          <td>Amy</td>
          <td><%=amy_trips.count%></td>
          <td><%=amy_bonus%></td>
        </tr>
        <tr>
          <td>Bender</td>
          <td><%=bender_trips.count%></td>
          <td><%=bender_bonus%></td>
        </tr>
        <tr>
          <td>Leela</td>
          <td><%=leela_trips.count%></td>
          <td><%=leela_bonus%></td>
        </tr>
      </tbody> -->
    </table>


  </body>

</html>
