<html>
  <head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
  </head>

  <body>

    <h1> We made <%=total_revenue%> this week. </h1>
    <h2> <%= if total_revenue.to_i > goal_revenue
              "Congrats, everyone! We met our goal for the week!"
            elsif total_revenue.to_i > (goal_revenue.to_i * 0.8)
              "Almost to our goal, everybody.  Let's do better next week."
            elsif total_revenue.to_i > (goal_revenue.to_i * 0.4)
             "Come on, everyone.  Do your job better!"
            else
             "Everyone is fired. Go home."
            end
            %>
    </h2>

    <p></p>
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Destination</th>
          <th>Shipment</th>
          <th>Crates</th>
          <th>Money</th>
        </tr>
      </thead>
      <tbody>
        <% logs.each do |log| %>
        <tr>
          <td><%= log["Destination"]%></td>
          <td><%= log["Shipment"] %></td>
          <td><%= log["Crates"] %></td>
          <td><%= log["Money"] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p></p>
    <p></p>

    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Number of Trips</th>
          <th>Bonus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Fry</td>
          <td><%=fry_trips.count%></td>
          <td><%=fry_bonus%></td>
        </tr>
        <tr>
          <td>Amy</td>
          <td><%=amy_trips.count%></td>
          <td><%=amy_bonus%></td>
        </tr>
        <tr>
          <td>Bender</td>
          <td><%=bender_trips.count%></td>
          <td><%=bender_bonus%></td>
        </tr>
        <tr>
          <td>Leela</td>
          <td><%=leela_trips.count%></td>
          <td><%=leela_bonus%></td>
        </tr>
      </tbody>
    </table>

    <p></p>
    <p></p>
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Planet</th>
          <th>Money</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mercury</td>
          <td><%=mercury_money || 0%></td>
        </tr>
        <tr>
          <td>Venus</td>
          <td><%=venus_money || 0%></td>
        </tr>
        <tr>
          <td>Earth</td>
          <td><%=earth_money || 0%></td>
        </tr>
        <tr>
          <td>Mars</td>
          <td><%=mars_money || 0%></td>
        </tr>
        <tr>
          <td>Jupiter</td>
          <td><%=jupiter_money || 0%></td>
        </tr>
        <tr>
          <td>Saturn</td>
          <td><%=saturn_money || 0%></td>
        </tr>
        <tr>
          <td>Uranus</td>
          <td><%=uranus_money || 0%></td>
        </tr>
        <tr>
          <td>Neptune</td>
          <td><%=neptune_money || 0%></td>
        </tr>
        <tr>
          <td>Pluto*</td>
          <td><%=pluto_money || 0%></td>
        </tr>
      </tbody>
    </table>

    <p> </p>
    <p> </p>

    <img src="https://media.giphy.com/media/55xWvUIMb51mw/giphy.gif">
    <img src="https://media.giphy.com/media/oktRrJuhxCZSU/giphy.gif" class="gif2">

    <p></p>
    <p></p>
    <footer> *<img src="http://img.memecdn.com/silly-pluto_o_530922.jpg">
    </footer>
  </body>

</html>
